// datepicker container style
div:has(> .react-datepicker) {
  width: fit-content;
  margin: 0 auto;
}

.react-datepicker {
  border: none;
}

// datepicker custom header style
.react-datepicker__header {
  background-color: transparent;
  border: none;
}

.react-datepicker__navigation-icon:before {
  border-color: #1d1d1d;
}

// datepicker day styling
.react-datepicker__day-names .react-datepicker__day-name {
  &:first-child {
    color: #dd2424;
  }

  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  height: 2rem;
  width: 2.2rem;
  margin: 0;
}

.react-datepicker__week {
  .react-datepicker__day {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    margin: 0 0.25rem 0.25rem 0;
    border-radius: 50%;
  }
}

.react-datepicker__week div {
  &:first-child {
    color: #dd2424;
  }

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.react-datepicker__day--selected {
  background-color: #1d1d1d;
  color: #fff;

  &:hover {
    background-color: #1d1d1d;
  }
}

.react-datepicker__day--selected.react-datepicker__day--not-complete {
  border: 1px solid #1d1d1d;
  background-color: transparent;
  color: #0a0a0a;
}

.react-datepicker__day--exclude {
  color: #d4d4d4 !important;
}

.react-datepicker__day--not-complete {
  border: 1px solid #a6a6a6;
}

.react-datepicker__day--highlighted {
  border: 1px solid #1d1d1d;
  background-color: #fff;
  color: #000;

  &:hover {
    background-color: #fff;
  }
}

.react-datepicker__day--highlighted.confirmed {
  background-color: #1d1d1d;
  color: #fff;

  &:hover {
    background-color: #1d1d1d;
  }
}
