*,
*::after,
*::before {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html {
  font-weight: 400;
}

a {
  margin: 0;
  background: transparent;
  cursor: pointer;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  font-size: 100%;
}

input,
textarea {
  user-select: auto;
}

html,
body,
div,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
span,
strong {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

@font-face {
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-display: swap;
  src: url("/public/font/DMSans-ExtraBold.woff2") format("woff2"),
    url("/public/font/DMSans-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "DM Sans", sans-serif;
  font-family: 700;
  font-display: swap;
  src: url("/public/font/DMSans-Bold.woff2") format("woff2"),
    url("/public/font/DMSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "DM Sans", sans-serif;
  font-family: 600;
  font-display: swap;
  src: url("/public/font/DMSans-SemiBold.woff2") format("woff2"),
    url("/public/font/DMSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "DM Sans", sans-serif;
  font-family: 500;
  font-display: swap;
  src: url("/public/font/DMSans-Medium.woff2") format("woff2"),
    url("/public/font/DMSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "DM Sans", sans-serif;
  font-family: 400;
  font-display: swap;
  src: url("/public/font/DMSans-Regular.woff2") format("woff2"),
    url("/public/font/DMSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "DM Sans", sans-serif;
  font-family: 300;
  font-display: swap;
  src: url("/public/font/DMSans-Light.woff2") format("woff2"),
    url("/public/font/DMSans-Light.woff") format("woff");
}

input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
}

button {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: inherit;
  cursor: pointer;
  padding: 0;
  overflow: visible;
}

ol,
ul,
li {
  list-style: none;
}

#__next {
  height: 100%;
  overflow: hidden;
}
